@model IEnumerable<ProyectoFinalDoggo.Models.compras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h2>Listado de compras</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDTrans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.nomProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.IDProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COSTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDTrans)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Productos.nomProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.IDProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COSTO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IDTrans }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IDTrans }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDTrans })
        </td>
    </tr>
}

</table>
