@model IEnumerable<ProyectoFinalDoggo.Models.compras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}


<div>
    <h2>Listado de compras</h2>

    <table class="table">
        <tr>
            <th>
                Numero de Transacción
            </th>
            <th>
                Producto
            </th>
            <th>
                ID Producto
            </th>
            <th>
                Usuario
            </th>
            <th>
                Costo
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDTrans)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Productos.nomProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos.IDProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COSTO)
                </td>
                <td>
                    @if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
                    {
                        <a href="@Url.Action("Edit", new { id = item.IDTrans })" title="Editar">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                    <a href="@Url.Action("Details", new { id = item.IDTrans })" title="Detalles">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    @if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
                    {
                        <a href="@Url.Action("Delete", new { id = item.IDTrans })" title="Eliminar">
                            <i class="fas fa-trash"></i>
                        </a>
                    }
                </td>
            </tr>
        }

    </table>
</div>