@model ProyectoFinalDoggo.Models.Usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h2>Eliminar Usuario</h2>

<h3>Quiere eliminar este usuario?</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
            {
                <div class="text-center">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            }

        </div>

        <div>
            <a href="@Url.Action("Index")" class="btn btn-dark bottom-right">Volver</a>
        </div>
    }
</div>
