@model ProyectoFinalDoggo.Models.Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Correo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            Dirección:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Teléfono:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Rol:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

    </dl>
</div>

<div class="text-center">
    @Html.ActionLink("Editar", "Edit", new { id = Model.usuario }, new { @class = "btn btn-primary" })
</div>

    <div>
        <a href="@Url.Action("Index")" class="btn btn-dark bottom-right">Volver</a>
    </div>

