@model IEnumerable<ProyectoFinalDoggo.Models.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}
<div style="min-height: calc(100vh - 50px);">
    <h2>Listado de Usuarios</h2>
    <br />

    <a href="@Url.Action("Create")" class="btn btn-primary">Crear usuario</a>

    <table class="table">
        <tr>
            <th>
                Usuario
            </th>
            <th>
                
            </th>
            <th>
                Correo
            </th>
            <th>
               Dirección
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Rol
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.usuario })" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Details", new { id = item.usuario })" title="Detalles">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.usuario })" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>