


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoggoCR</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Customize styles -->
    <link href="~/Content/CustomLayout.css" rel="stylesheet" />
    <link href="~/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet" />
    <script src="~/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/js/fontawesome.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="LogoButton">
                <img src="~/images/Logo DOGGO (fondo negro).jpg" />
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @if (Session != null && Session["usuario"] != null)
                    {
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Compras", "Index", "Compras", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Contactanos", "Index", "Contact", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
                        {
                            <li class="nav-item">
                                <h5>@Html.ActionLink("Usuarios", "Index", "Usuarios", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Compras", "Index", "Compras", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Contactanos", "Index", "Contact", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>
                        <li class="nav-item">
                            <h5>@Html.ActionLink("Carrito", "Carrito", "Productos", null, new { @class = "nav-item nav-link active btn btn-link", style = "color: white;" })</h5>
                        </li>

                    }

                    <li class="btn-noH">
                        @if (Session != null && Session["usuario"] != null)
                        {
                            <h5 class="nav-link text-dark" style="vertical-align:central;"><i class="fa-solid fa-circle-user"></i> @Session["usuario"].ToString()</h5>
                        }
                        else
                        {
                            <a href="@Url.Action("index", "Login")" class="btn btn-dark text-white">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar sesión
                            </a>
                        }
                    </li>
                    <li class="btn-noH">
                        @if (Session != null && Session["usuario"] != null)
                        {
                            <a href="@Url.Action("Logout", "Login")" class="btn btn-dark text-white">
                                <i class="fa-solid fa-right-from-bracket"></i> salir
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="slideshow">
        <img class="imgDoggo" src="~/images/DOGG-01.jpg" />
        <img src="~/images/img1.jpg" />
        <img src="~/images/img2.jpg" />
        <img src="~/images/img3.jpg" />
    </div>

    <!-- Page content -->
    <!-- <div class="container mt-4">-->
    <div class="contenido">
        @RenderBody()

    </div>
    @RenderSection("Scripts", required: false)


    <!-- Footer -->
    <footer>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light footer">
                <div class="container-fluid footerContainer">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Sobre nosotros</h4>
                                <p class="parrafo">
                                    Somos una empresa cuyo objetivo principal es proporcionar una solución
                                    de alimentación para mascotas, al mismo tiempo que ayuda a los animales
                                    necesitados en centros de ayuda animal. Ofrecemos una línea de productos de alta
                                    calidad,
                                    incluyendo bowls de acero inoxidable, todos diseñados pensando
                                    en el bienestar de las mascotas y la protección del medio ambiente.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <h4>Contacto</h4>
                                <ul>
                                    <li><a href="tel:+50684935837">(+506) 8493-5837</a></li>
                                    <li><a href="mailto:info@doggocr.com">info@doggocr.com</a></li>
                                    <li><a href="https://goo.gl/maps/37hCvqYv4oZ9WUmm9" target="_blank">Dirección</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>Síguenos</h4>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/doggocr" target="_blank">
                                            <i class="fab fa-facebook-f"></i> Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.tiktok.com/" target="_blank">
                                            <i class="fab fa-tiktok"></i>
                                            TikTok
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/doggocr_/" target="_blank">
                                            <i class="fab fa-instagram"></i> Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://wa.me/50684935837" target="_blank">
                                            <i class="fa-brands fa-whatsapp"></i> Whatsapp
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">&copy; 2023 Todos los derechos reservados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/LayoutScripts.js"></script>
</body>
</html>
