


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoggoCR</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Customize styles -->
    <link href="~/Content/CustomLayout.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="@Url.Action("Index", "Productos")" class="LogoButton">
                <img src="~/images/Logo DOGGO (fondo negro).jpg" />
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @if (Session != null && Session["usuario"] != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Menu", "Home", null, new { @class = "nav-item nav-link active btn btn-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Usuarios", "Index", "Usuarios", null, new { @class = "nav-item nav-link active btn btn-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Compras", "Index", "Compras", null, new { @class = "nav-item nav-link active btn btn-link" })
                        </li>
                    }
                    <li>
                        @if (Session != null && Session["usuario"] != null)
                        {
                            <p class="nav-link text-dark">Usuario: @Session["usuario"].ToString()</p>
                            /*<a href="@Url.Action("Logout","Login")">salir</a>*/
                        }
                        else
                        {
                            <p>No hay sesión iniciada</p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="slideshow">
        <img src="~/images/DOGG-01.jpg" />
        <img src="~/images/img1.jpg" />
        <img src="~/images/img2.jpg" />
        <img src="~/images/img3.jpg" />
    </div>

    <!-- Page content -->
    <div class="container mt-4">
        @RenderBody()

    </div>
    @RenderSection("Scripts", required: false)
</body>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>© 2023 - Doggo.</p>
    </footer>
    <script src="~/Scripts/LayoutScripts.js"></script>