@model ProyectoFinalDoggo.Models.Productos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Productos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDProd)

        <div class="form-group">
            Nombre de producto
            <div class="col-md-5">
                @Html.EditorFor(model => model.nomProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Precio
            <div class="col-md-5">
                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Categoría
            <div class="col-md-5">
                @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Detalles
            <div class="col-md-5">
                @Html.EditorFor(model => model.detalles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Cantidad
            <div class="col-md-5">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Link de la Imagen
            <div class="col-md-5">
                @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
                {
                    <div class="text-center">
                        <input type="submit" value="Guadar" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

}
@if (Session != null && Session["usuario"] != null && Session["rol"].ToString() == "admin")
{
    <div>
        <a href="@Url.Action("Index")" class="btn btn-dark bottom-right">Volver</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
