@model IEnumerable<ProyectoFinalDoggo.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DoggoLayout.cshtml";

    if (Session["Usuario"] == null)
    {
        Response.Redirect("~/Login/index");
    }

}
<p>
    @Html.ActionLink("Agregar", "Guardar")
</p>
<div>
    @if (Session != null && Session["usuario"] != null)
    {
        <h3>usuario: @Session["usuario"].ToString()</h3>
        <a href="@Url.Action("logout","login")">salir</a>
    }
    else
    {
        <p>No hay sesión iniciada</p>
    }
</div>

<table class="table">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Precio
        </th>
        <th>
            Categoria
        </th>
        <th>
            Detalles
        </th>
        <th>
            Cantidad Disponible
        </th>
        <th>
            Imagen
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Modificar", new { id = item.IDProd }) |
                @Html.ActionLink("Detalle", "Detalle", new { id = item.IDProd }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IDProd })
            </td>
        </tr>
    }

</table>
